.Number1{

    background-color:#FF8886;
    font-family: Verdana, DejaVu Sans, sans-serif;
    color: black;
}

.Number2{

    color: blue;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    font-size: 36px;
}

.Number3{

    background-color:#FF8886;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    color: black;
    font-size: 24px;
}

.Number4{

    background-color:#66FF99 ;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.Number5{

    background-color:#FF8886;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    color: black;
    font-size: 20px;
}

